.container {
    margin-top: 20px;
    background-color: #e9ecef; 
}

.card-top {

}

.card-top h2 {
    margin-bottom: 20px;
}

.row {
    margin-bottom: 10px;
    border-bottom: 1px solid #000000; /* border color */
}

.col-8 {
    font-size: 18px;
    /* light gray background color */
    padding: 10px;
    border-right: 1px solid #010101; /* border color */
}

.col {
    padding: 10px;
    border-right: 1px solid #030303; /* border color */
}

.topic_starter_username {
    font-weight: bold;
}

.reply_count {
    font-weight: bold;
    color: #007bff; /* blue color */
}

.latest-poster {
    font-weight: bold;
}

.post-date {
    font-size: 14px;
    color: #6c757d; /* gray color */
}
